.player-wrapper {
  /* margin-top: 20%; */
  margin-left: 22%;
  position: relative;
  padding-top: 100%;
  height: 20px;
  margin-bottom: -60%;
  /* Player ratio: 100 / (1280 / 720) */
  /* width: 100px;
  height: 100px; */
  /* margin: auto; */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  width: 250px;
  max-width: 85%;
}
