.dishes {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  border: solid black 1px;
  background-color: rgb(101, 101, 147);
}

.recipecard {
  background-color: rgb(101, 101, 147);
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
  border: solid black 1px;
  padding: 5px;
  width: 50%;
  margin: 2rem;
  border-radius: 5px;
}
