.dishes {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
  border: solid black 1px;
  background-color: rgb(101, 101, 147);
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.container {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.chefcard {
  min-height: 320px;
  min-width: 630px;
  margin: 5px;
  padding: 15px;
  background: rgb(101, 101, 147);
  border-radius: 25px;
  text-align: center;
  position: relative;
  /* color: white; */
}

.topdiv {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* background-color: purple; */
  align-items: center;
  padding: 20px;
  padding-left: 30%;
}

.luckycat {
  margin: 10px;
}

.luckypicture {
  margin: 10px;
}

.addrecipe {
  margin: 10px;
}

.about {
  height: 90vh;
  width: 90vh;
  margin: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
}
